body {
  margin: auto;
  max-width: 1250px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 1.6;
}

.page-title {
  color: #42a5f5;
}

#comments {
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 25px;
  font-family: Impact, Charcoal, sans-serif;
  color: #444343;
  display: none;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Impact, Charcoal, sans-serif;
}

input[type=submit] {
  width: 100%;
  background-color: #42a5f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #42a5f5;
  border-radius: 4px;
  cursor: pointer;
}

#done-button {
  width: 30%;
  float: right;
  background-color: #fd6363;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #fd6363;
  border-radius: 4px;
  cursor: pointer;
}

#comment-type {
  border-radius: 4px;
  width: 50%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  padding: 10px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 13px;
  border: 1px solid #ccc;
  background-color: white;
}

#comments-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#comments-container li {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: rgb(90, 90, 90);
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

.delete-button {
  float: right;
}
