body {
  font-family: "Roboto", sans-serif;
  max-width: 1250px;
}

.space {
  margin: 0 auto;
}
 
.title {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 100px;
  align-items: center;
  text-align: center;
}
 
.logo {
  width: 150px;
  height: 150px;
  float: right;
  margin: 10px 50px 10px 0px;
  transform: rotate(15deg);
}
 
.container {
  padding: 0.01em 16px;
}
 
.center {
  display: inline-block;
  width: auto;
  text-align: center;
}

#head {
  text-align: right;
}
