body {
  font-family: "Roboto", sans-serif;
  max-width: 1250px;
}

.space {
  margin: 0 auto;
}
 
.title {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 80px;
  align-items: center;
  text-align: center;
}
 
.logo {
  width: 150px;
  height: 150px;
  float: right;
  transform: rotate(15deg);
}
 
.container {
  padding: 0.01em 16px;
}
 
.center {
  display: inline-block;
  width: auto;
  text-align: center;
}

#head {
  text-align: left;
}

.w3-animate-bottom {
  position: relative;
  animation-delay: animatebottom .7s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  } 
  to {
    bottom: 0;
    opacity: 1
  }
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin-left: 70px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.name {
  color: #00a2ff;
  font-weight: bold;
  text-align: center;
}

.google-logo {
  width: 30px;
  height: 30px;
}
